* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.main-container {
    width: 100vw;
    height: auto;
    background-color: black;
    text-align: center;
}

h1 {
    font-size: 55px;
    padding-top: 4%;
    margin-bottom: 6%;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 2px;
}



.content-container {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: black;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: 'Overpass', sans-serif;
}

.video-container {
    height: 400px;
    background: darkgoldenrod;
}

video {
    padding: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.script-container {
    background-color: darkred;
    padding: 0 3%;

}

hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgoldenrod;
}

ul {
    text-align: left;
    font-size: 15px;
    margin: 12% 4%;
}

li {
    list-style: none;
    padding-bottom: 5px;
}

p {
    text-align: left;
    font-size: 15px;
    margin: 12% 4%;
}
